@mixin adaptive-font($pcSize, $mobSize, $maxWidth) {
  $addSize: calc($pcSize - $mobSize);
  $addMobSize: calc($addSize + $addSize * 0.7);

  font-size: calc($mobSize + $addSize * (100vw / $maxWidth));

  @media (max-width: 767px) {
    font-size: calc($mobSize + $addMobSize * ((100vw - 320px) / $maxWidth));
  }
}

$text-primary: #1b1e27;
$text-secondary: #666666;
$main-primary: #5b8cf3;
$bg-card: #fafafa;
$stroke-card: #e6e6e6;
$stroke-light: #f2f2f2;
$white: #ffffff;
$main-error: #d56f75;
$text-tertiary: #888888;
$main-secondary: #eaf0fd;
$bg-footer: #ffffff;
$bg-main: #f3f3f6;
$bg-white: #fff;

$text-11: 11px;
$text-12: 12px;
$text-13: 13px;
$text-14: 14px;
$text-16: 16px;
$text-18: 18px;
$text-20: 20px;
$text-24: 24px;
$text-28: 28px;
$text-32: 32px;
$text-40: 40px;
$text-48: 48px;

$font-normal: 400;
$font-medium: 500;
$font-semiBold: 600;
$font-bold: 700;
