@import "@/assets/core/_variables.scss";

.mainContainer {
  max-width: 1216px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 80px;
  padding: 10px 0 10px 10px;
  position: relative;
  height: calc(100vh - 80px);
}

@media (max-width: 1024px) {
  .mainContainer {
    padding: 20px 20px 0 20px;
  }
}

@media (max-width: 500px) {
  .mainContainer {
    padding: 10px 10px 0 10px;
  }
}

.pictureOne {
  background-color: #4463e3;
  width: 242px;
  height: 242px;
  position: absolute;
  top: 25%;
  left: -300px;
  filter: blur(120px);
}

.pictureTwo {
  background-color: #4463e3;
  width: 242px;
  height: 242px;
  position: absolute;
  top: 40%;
  right: -300px;
  filter: blur(120px);
}

.blockHeader {
  display: flex;
  margin-top: 29.9%;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
}

@media (max-width: 1078px) {
  .blockHeader {
    max-width: 430px;
  }
}

.blockWebThree {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;
  gap: 8px;
}

.blockWebThree p {
  margin: 0;
}

.webThreeLabel {
  border-radius: 120px;
  padding: 6px 8px;
  background-color: rgba(91, 140, 243, 0.05);
  color: rgba(91, 140, 243, 1);
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}

.webThreeText {
  color: rgba(163, 163, 163, 1);
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
}

.blockMain {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.blockMain h1 {
  margin: 0;
}

.blockMainH {
  color: rgba(26, 29, 38, 1);
  font-size: 52px;
  font-weight: 700;
  line-height: 59px;
}

@media (max-width: 500px) {
  .blockMainH {
    font-size: 45px;
  }
}

@media (max-width: 430px) {
  .blockMainH {
    font-size: 43px;
  }
}

.blockMainText {
  background-image: linear-gradient(125deg, #5b8cf3, #cb5bf3);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 52px;
  line-height: 59px;
}

@media (max-width: 500px) {
  .blockMainText {
    font-size: 45px;
    line-height: 50px;
  }
}

@media (max-width: 430px) {
  .blockMainText {
    font-size: 43px;
  }
}

.buttonAdd {
  padding: 16px 24px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  border-radius: 14px;
  outline: none;
}

@media (max-width: 1024px) {
  .buttonAdd {
    margin-bottom: 10px;
  }
}

.blockImg {
  max-width: 609px;
  width: 100%;
  display: flex;
  align-self: flex-start;
  margin-bottom: 113px;
}

@media (max-width: 1078px) {
  .blockImg {
    display: none;
  }
}
