@import "@/assets/core/_variables.scss";

.footerDemoMain {
  width: 100%;
  background-color: $white;
  padding: 0 10px;
}

.footerDemo {
  max-width: 1216px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
  padding-top: 48px;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 12px 10px;
}

.footerDemo {
  max-width: 1216px;
}

.footerDemoLogoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  gap: 10px;
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  border-radius: 8px;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  padding: 6px;
  svg {
    width: 24px;
    height: 24px;
  }
}

.logoText {
  color: $text-primary;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  white-space: nowrap;
}

.footerMenu {
  display: flex;
  max-width: 380px;
  width: 100%;
  padding: 6px;
  margin: 0 auto;
  color: black;
}

@media (max-width: 768px) {
  .footerMenu {
    padding-left: 0;
  }
}

@media (max-width: 607px) {
  .footerMenu {
    margin: 0;
  }
}

.footerList {
  width: 100%;
  display: flex;
  gap: 0 20px;
  flex-wrap: wrap;
  align-content: space-between;
  max-height: 132px;
  list-style: none;
  flex-direction: column;
}

.footerListLink {
  width: fit-content;
  text-decoration: none;
  font-weight: 600;
  line-height: 20px;
  cursor: pointer;
  margin-bottom: 13px;
  position: relative;
}

.footerListLink:hover {
  color: $text-tertiary;
}

.footerIcons {
  display: flex;
  gap: 0 12px;
  cursor: pointer;
}

.footerDemoBottom {
  max-width: 1216px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid $stroke-light;
  padding: 32px 0;  
  width: 100%;
}

.footerBottom {
  color: $text-tertiary;
  font-size: 12px;
  font-weight: 500;
}
