@import "@/assets/core/_variables.scss";

.headerDemoMain {
  width: 100%;
  border-bottom: 1px solid #f8f8f8;
  position: fixed;
  background-color: $white;
  z-index: 2;
}

.headerDemoWrapper {
  width: 100%;
  max-width: 1216px;
  text-align: end;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  z-index: 1;
}

.headerDemoWrapper {
  max-width: 1216px;
}

.headerDemo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 0;
  gap: 10px;
  flex-grow: 1;
}

.headerDemoLogoContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 22px 0px;
  gap: 10px;
}

.logoWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  border-radius: 8px;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  padding: 6px;
  svg {
    width: 24px;
    height: 24px;
  }
}

.userAuthorizedWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 8px;
}

@media (max-width: 1216px) {
  .headerDemoLogoContainer {
    padding-left: 10px;
  }
}

@media (max-width: 1024px) {
  .headerDemoLogoContainer {
    padding-left: 20px;
  }
}

@media (max-width: 500px) {
  .headerDemoLogoContainer {
    padding-left: 10px;
  }
}

.logoText {
  color: $text-primary;
  font-weight: 700;
  font-size: 18px;
  line-height: 32px;
  text-transform: uppercase;
  white-space: nowrap;
}

.headerLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0 40px;
  flex-grow: 1;
}

.buttonConnectWalletWrapper {
  padding-right: 10px;
}

@media (max-width: 1024px) and (min-width: 500px) {
  .buttonConnectWalletWrapper {
    padding-right: 20px;
  }
}

.buttonConnectWallet {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px;
  border-radius: 12px;
  background-color: $main-secondary;
  color: $main-primary;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  border: none;
  outline: none;
}

.headerDemoBurger {
  display: none;
  text-align: end;
}

@media (max-width: 1024px) {
  .headerDemo {
    display: flex;
    transform: translateY(-100%);
    position: fixed;
    width: 100%;
    gap: 30px 0;
    flex-direction: column;
    padding: 48px;
    transition: transform 0.3s linear;
    background-color: $white;
    align-items: center;
    transition: transform 0.3s;
  }

  .headerDemo.active {
    top: 65px;
    height: 100%;
    transform: translateY(0%);
    transition: transform 0.3s;
    justify-content: flex-start;
  }

  .headerLinks {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 30px;
    gap: 35px 0;
    flex-grow: 0;
  }

  .headerLink {
    margin: 0;
    font-size: 22px;
  }

  .headerLinkText {
    padding-bottom: 24px;
    padding-top: 24px;
    font-size: 22px;
  }

  .buttonConnectWallet {
    font-size: 20px;
  }

  .headerDemoBurger {
    display: inline-block;
    padding: 21px;
  }
}

@media (max-width: 500px) {
  .headerDemo {
    align-items: start;
    padding-left: 20px;
  }

  .headerLinks {
    align-items: start;
  }

  .headerLink {
    margin: 0;
    font-size: 22px;
  }

  .headerLinkText {
    text-align: start;
    padding-bottom: 24px;
    padding-top: 24px;
    font-size: 22px;
  }

  .headerDemoBurger {
    display: inline-block;
    padding: 21px;
  }
}
