@import "@/assets/core/_variables.scss";

.form {
  display: flex;
  justify-content: space-between;
  gap: 20px 20px;
}

.form.formBackgroundDark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

@media (max-width: 1024px) {
  .form {
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: center;
  }
}

.formData {
  max-width: 800px;
  width: 100%;
}

.baseInfo {
  padding: 32px;
  background-color: $bg-card;
  border-radius: 16px;
}

.title {
  font-size: $text-24;
  line-height: 28.8px;
  font-weight: $font-semiBold;
  padding-bottom: 32px;
}

.label {
  font-size: $text-14;
  line-height: 19.6px;
  font-weight: $font-medium;
  padding-bottom: 8px;
}

.labeledField {
  padding-bottom: 24px;
}

.labeledFieldOther {
  padding-bottom: 16px;
}

.field {
  height: 56px;
}

.fieldWrapper {
  height: 58px;
}

.checkboxWrapper {
  margin-top: 16px;
}

.checkbox {
  cursor: pointer;
}

.filedTags {
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 9px 0;
}

.posInfo {
  margin-top: 25px;
  padding: 40px;
  background-color: $bg-card;
  border-radius: 16px;
}

.posInfo .textarea:not(:first-of-type) {
  margin-top: 24px;
}

.posInfoTitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  color: $text-primary;
  padding-bottom: 32px;
}

.textAreaTitle {
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
}

.settings {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 32px;
  background-color: $bg-card;
  border-radius: 16px;
  margin-top: 24px;
}

.settingsError {
  border: 1px solid $main-error;
}

.settingsError :focus-visible {
  outline: 1px solid $main-error;
}

.settingsTitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  color: $text-primary;
  margin-bottom: 12px;
}

.settingsText {
  font-size: 14px;
  font-weight: 400;
  line-height: 120%;
  color: $text-secondary;
}

.settingsCards {
  display: flex;
  gap: 15px 24px;
  border-radius: 16px;
  margin-top: 24px;
}

@media (max-width: 1024px) {
  .settingsCards {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .settingsCards {
    flex-wrap: wrap;
  }
}

.card {
  border-radius: 16px;
  background-color: $white;
  padding: 24px;
  max-width: 304px;
  width: 100%;
  cursor: pointer;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.cardSelected {
  border: 2px solid rgb(91, 140, 243);
}

.cardInputHidden {
  display: none;
}

.cardQuantityJobs {
  font-size: 12px;
  font-weight: 400;
  line-height: 130%;
  color: $text-tertiary;
  margin-bottom: 8px;
}

.cardTitle {
  font-size: 20px;
  font-weight: 600;
  line-height: 120%;
  color: $text-primary;
  margin-bottom: 16px;
}

.cardText {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  color: $text-secondary;
  margin-bottom: 40px;
}

.cardPrice {
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
  color: $main-primary;
}

.cardPriceDiscount {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
  color: $main-primary;
}

.formSubmits {
  flex: 0 0 auto;
  max-width: 384px;
  width: 100%;
  padding: 32px;
  background-color: $bg-card;
  border-radius: 16px;
  height: 100%;
}

.formSubmitsTitle {
  font-size: 24px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 32px;
  color: $text-primary;
}

.submitsPreview {
  display: flex;
  flex-direction: column;
  gap: 24px 0;
  margin-bottom: 32px;
}

.previewBasicDisabled {
  opacity: 0.32;
}

.previewBasic {
  opacity: 1;
}

.previewBasicTitle {
  color: $text-primary;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}

.previewBasicText {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.previewDescriptionDisabled {
  opacity: 0.32;
}

.previewDescription {
  opacity: 1;
}

.previewDescriptionTitle {
  color: $text-primary;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}

.previewDescriptionText {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.previewSettingsDisabled {
  opacity: 0.32;
}

.previewSettings {
  opacity: 1;
}

.previewSettingsTitle {
  color: $text-primary;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}

.previewSettingsText {
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.buttonPreview {
  width: 100%;
  margin-bottom: 16px;
}

.buttonPublish {
  width: 100%;
}

.settingsErrorMessage {
  position: relative;
  color: $main-error;
  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
}

