@import "@/assets/core/_variables.scss";

.section {
  width: 100%;
  padding: 120px 0;
  background-color: $white;
}

.sectionWrapper {
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 1216px;
  margin: auto;
  display: flex;
  justify-content: center;
  background: linear-gradient(
    136.95deg,
    rgb(90, 139, 243) 18.775%,
    rgb(126, 178, 250) 86.871%
  );
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .sectionWrapper {
    flex-direction: column;
    align-items: center;
  }
}

.leftBlock {
  max-width: 460px;
  padding: 64px 64px 64px 64px;
  z-index: 1;
}

@media (max-width: 767px) {
  .leftBlock {
    padding: 64px 10px;
  }
}

.leftBlockTitle {
  color: $white;
  font-size: 40px;
  font-weight: 700;
  line-height: 40px;
  padding-bottom: 24px;
}

@media (max-width: 820px) {
  .leftBlockTitle {
    font-size: 37px;
  }
}

.rightBlockImg {
  position: relative;
  top: 35px;
  right: 64px;
}

@media (max-width: 767px) {
  .rightBlockImg {
    display: none;
  }
}
